# =========================
# Maven / Build
# =========================
target/
*.log

# =========================
# Environment & Secrets
# =========================
.env
*.env

# =========================
# Uploads (runtime files)
# =========================
uploads/

# =========================
# IDE (Eclipse / STS)
# =========================
.metadata/
.classpath
.project
.settings/
.factorypath

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
